* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
body {
    font-family: montserrat;
    background-color: var(--corBackground);
    color: #555;
}
:root {
    --corLines: #ccc;
    --corBackground: #f0f0f0
}








header {
    width: 95%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--corLines);
    padding: 0px 30px;
}









article {
    width: 95%;
    margin: auto;
    height: calc( 100vh - 150px);
}
form {
    height: inherit;
}
form div {
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form div section {
    display: flex;
    flex-direction: column;
}
#enviar {
    display: flex;
    margin: auto;
}
section {
    width: 300px;
    padding: 15px;
}
section div {
    margin-bottom: 30px;
    justify-content: flex-start;
}
section label {
    font-size: 14px;
}
section input {
    font-family: 'montserrat';
    padding: 8px;
    padding-bottom: 0;
    padding-left: 0;
    width: 80%;
    margin-bottom: 15px;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    border-bottom: 1px solid var(--corLines);
    background-color: var(--corBackground);
}
section input:focus {
    outline: 0;
}
select {
    outline: 0;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    font-family: 'montserrat';
    background-color: var(--corBackground);
}
header select {
    width: 70px;
}
section select {
    padding: 8px;
    padding-bottom: 0;
    padding-left: 0;
    width: 80%;
    border-bottom: 1px solid var(--corLines);
}
section input:last-child {
    margin-bottom: 0;
}
section span {
    display: flex;
    align-items: center;
}
section span img {
    height: 20px;
    margin-left: 40%;
    cursor: pointer;
}
input[type='submit'] {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    width: 120px;
    height: 35px;
    font-size: 19px;
    background: linear-gradient(#000, #ccc);
}










footer {
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}
footer h3 {
    font-size: 14px;
}