* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    color: var(--corLines);
}
body {
    font-family: montserrat;
}
:root {
    --corLines: #a8a8a8;
}









.light-inputs {
    background-color: #fff;
}
.lightBG {
    background-color: #f0f0f0;
}
.light-submit {
    background: linear-gradient(#fff, rgb(233, 233, 233));
    box-shadow: 0px 1px 5px 0px #ccc;
}
.light-submit:hover {
    background: linear-gradient(rgb(233,233,233), #fff);
}


.dark-inputs {
    background-color: rgb(70, 70, 70);
}
.darkBG {
    background-color: rgb(100, 100, 100);
}
.dark-submit {
    background: linear-gradient(rgb(70, 70, 70), rgb(48, 48, 48));
    box-shadow: 0px 1px 5px 0px #333;
}
.dark-submit:hover {
    background: linear-gradient(rgb(48, 48, 48), rgb(70, 70, 70));
}









header {
    width: 95%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--corLines);
    padding: 0px 30px;
}
header div {
    display: flex; 
    align-items: center;
    margin-left: 10px;
}
#icone {
    height: 20px;
    margin-right: 5px;
}









article {
    width: 95%;
    margin: auto;
    height: calc( 100vh - 150px);
}
form {
    height: inherit;
}
form div {
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form div section {
    display: flex;
    flex-direction: column;
}
#enviar {
    display: flex;
    margin: auto;
}
section {
    height: 315px;
    width: 300px;
    padding: 15px;
}
section div {
    margin-bottom: 30px;
    justify-content: flex-start;
}
section label {
    font-size: 14px;
}
section input {
    font-family: 'montserrat';
    padding: 8px;
    padding-bottom: 0;
    padding-left: 0;
    width: 80%;
    margin-bottom: 15px;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    border-bottom: 1px solid var(--corLines);
}
section input:focus {
    outline: 0;
}
select {
    outline: 0;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    font-family: 'montserrat';
}
header select {
    width: 70px;
    cursor: pointer;
}
section select {
    padding: 8px;
    padding-bottom: 0;
    padding-left: 0;
    width: 80%;
    border-bottom: 1px solid var(--corLines);
}
section input:last-child {
    margin-bottom: 0;
}
section span {
    display: flex;
    align-items: center;
}
section span img {
    height: 20px;
    margin-left: 40%;
    cursor: pointer;
    margin-top: 5px;
}
input[type='submit'] {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-width: 0;
    border-style: none;
    border-color: unset;
    border-image: unset;
    width: 120px;
    height: 35px;
    font-size: 19px;
    font-family: 'montserrat';
}









footer {
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}
footer h3 {
    font-size: 14px;
}









@media (max-width:690px) {
    article {
        height: auto;
    }
    form {
        margin: 20px 0px;
    }
    form div {
        flex-direction: column;
    }
    section {
        margin: 20px 0px;
    }
    #enviar {
        margin-top: 20px;
    }
}
@media (max-width: 450px) {
    header {
        height: auto;
        min-height: 100px;
        flex-direction: column;
        padding: 20px 0px;
    }
    header div {
        margin-top: 10px;
        margin-left: 0;
    }
}
@media (width > 690px) and (height < 600px) {
    article {
        height: auto;
    }
    form {
        margin: 20px 0px;
    }
    section {
        margin: 20px 0px;
    }
    #enviar {
        margin-top: 20px;
    }
}